.header {
  background-color: $color-white;
  height: 80px;
  @include flex-center;
  justify-content: center;
  &__logo {
    text-align: center;
  }
  & img {
    width: 60%;
  }
  & i {
    color: $color-black;
    float: left;
    font-size: x-large;
    line-height: inherit;
  }
}
.loading__spinner {
  display: flex;
  justify-content: center;
}
.loading__spinner div {
  position: fixed;
  width: 160px;
  height: 160px;
  top: 30%;
  border-radius: 50%;
  box-shadow: 0 4px 0 0 $color-primary;
  transform-origin: 80px 80px;
  animation: 2s loading__spinner linear infinite;
}
.loading {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed;
  background: rgba(255, 255, 255, 0.808);
  animation: 4s loading__opacity;
  opacity: 0;
  z-index: -1000;
}
