@keyframes animation-entrees {
  0% {
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes animation-plats {
  0% {
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes animation-desserts {
  0% {
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes loading__spinner {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loading__opacity {
  0% {
    opacity: 0;
    z-index: 10;
  }
  10% {
    opacity: 0.5;
    z-index: 10;
  }
  50% {
    opacity: 1;
    z-index: 10;
  }
  100% {
    opacity: 0;
    z-index: 10;
  }
}
