$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiaire: #99e2d0;
$color-black: #000000;
$color-white: #fff;

$taille-img: (
  widht-img: 100%,
  height-img: 200px,
);
$taille-img-restaurants: (
  widht-img: 100%,
  height-img: 300px,
);
$breakpoint-logo-mobile: 768px;

$shadow: 5px 5px 15px 5px rgb(0 0 0 / 10%);

$font_text: "Roboto", sans-serif;
$font_logo_title: "Shrikhand", "cursive";
